* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?x9ofxd");
  src: url("../fonts/icomoon.eot?x9ofxd#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?x9ofxd") format("truetype"), url("../fonts/icomoon.woff?x9ofxd") format("woff"), url("../fonts/icomoon.svg?x9ofxd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-kontakt:before {
  content: "\e901";
}

.icon-ulubione:before {
  content: "\e902";
}

.icon-user:before {
  content: "\e903";
}

.icon-strzalka-prawo:before {
  content: "\e904";
}

.icon-strzalka-lewo:before {
  content: "\e905";
}

.icon-shopping-chart:before {
  content: "\e906";
}

.icon-play:before {
  content: "\e907";
}

.icon-widok-kafelkowy:before {
  content: "\e908";
}

.icon-widok-icon2:before {
  content: "\e909";
}

.icon-wysylka:before {
  content: "\e90a";
}

.icon-x:before {
  content: "\e90b";
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #333;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: white;
  font-family: "Metropolis-BoldItalic", sans-serif;
  font-size: 15px;
}
header .header_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header_top {
  width: 100%;
  border-bottom: 0.5px solid rgba(50, 57, 64, 0.3);
  height: 55px;
}
header .header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_logo img {
  width: 175px;
  height: 50px;
}

main {
  height: 500px;
  width: 100%;
  background-color: red;
}
main img {
  height: 300px;
  width: 300px;
}

.menu_mobileBar {
  background-color: #333;
}
.menu_mobileBar .menu_mobileBottom {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  bottom: 0;
  width: 100%;
  background-color: white;
  font-size: 20px;
  border: 0.5px solid rgba(50, 57, 64, 0.3);
}
.menu_mobileBar .menu_mobileBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50px;
  border-right: 0.5px solid rgba(50, 57, 64, 0.3);
}
.menu_mobileBar .shopping_cart {
  border: 0;
}

.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  opacity: 0;
  top: 0;
  left: -100px;
  width: 90%;
  height: 93%;
  background-color: #fff;
  transition: 0.3s;
}
.menu .menu_category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9%;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 0.5px solid rgba(50, 57, 64, 0.3);
}
.menu .menu-search-bar {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu-search-bar input {
  height: 2.5rem;
  width: 15rem;
}
.menu ul {
  margin-bottom: 145px;
  margin-left: 20px;
  width: 93%;
}
.menu li {
  width: 100%;
  display: flex;
  border-bottom: 0.5px solid rgba(50, 57, 64, 0.3);
  padding: 15px;
}
.menu .menu-products {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu-products li {
  height: 100%;
  padding-left: 12px;
}
.menu .menu-products span {
  height: 100%;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid rgba(50, 57, 64, 0.3);
  overflow: hidden;
}
.menu .menu-producers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu-producers li {
  padding-right: 80px;
  margin-left: 38px;
}
.menu .menu-producers span {
  margin-left: 100px;
  border-left: 0.5px solid rgba(50, 57, 64, 0.3);
}
.menu .inspiration {
  border: 0;
}

.animation-switch {
  opacity: 1;
  transform: translateX(100px);
}/*# sourceMappingURL=style.css.map */