@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?x9ofxd');
    src:  url('../fonts/icomoon.eot?x9ofxd#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?x9ofxd') format('truetype'),
      url('../fonts/icomoon.woff?x9ofxd') format('woff'),
      url('../fonts/icomoon.svg?x9ofxd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-dostepnosc:before {
    content: "\e900";
  }
  .icon-kontakt:before {
    content: "\e901";
  }
  .icon-ulubione:before {
    content: "\e902";
  }
  .icon-user:before {
    content: "\e903";
  }
  .icon-strzalka-prawo:before {
    content: "\e904";
  }
  .icon-strzalka-lewo:before {
    content: "\e905";
  }
  .icon-shopping-chart:before {
    content: "\e906";
  }
  .icon-play:before {
    content: "\e907";
  }
  .icon-widok-kafelkowy:before {
    content: "\e908";
  }
  .icon-widok-icon2:before {
    content: "\e909";
  }
  .icon-wysylka:before {
    content: "\e90a";
  }
  .icon-x:before {
    content: "\e90b";
  }
  