@use "./reset";
@use "./center" as center;
@use './fonts';
@use './colors' as color;
// @use './header-comp.scss' as header-comp;
// @use './header-for-lap.scss' as header-for-lap;

body {
    font-family: "Montserrat", sans-serif;
    background-color: #333;
}

header {
    position: relative;
    @include center.centering;
    height: 150px;
    background-color: white;
    font-family: 'Metropolis-BoldItalic', sans-serif;
    font-size: 15px;
	.header-box{
		@include center.centering;
		flex-direction: column;
	}
	.header-top{
		width: 100%;
		border-bottom: color.$border;
		height: 55px;
	}
    .header-logo{
		@include center.centering;
		img{
			width: 175px;
			height: 50px;
		}
    }

	.header-bottom{
		@include center.centering;
		width: 100%;
		height: 55px;
	}
	
}
nav{
	height: 1000px;
}
footer{ 	
	height: 200px;
	background-color: #fff;
	.footer-menu-bottom{
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: flex-start;
		bottom: 0;
		width: 100%;
		z-index: 5;
		background-color: white;
		font-size: 20px;
		border: color.$border;
	}
	.footer-box-menu{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20%;
		height: 50px;
		border-right: color.$border;
	}
	
	.shopping-cart{
		border: 0;
	}
}