@use "./reset";
@use "./center" as center;
@use "./fonts";
@use "./colors" as color;
// @use './header-comp.scss' as header-comp;
// @use './header-for-lap.scss' as header-for-lap;

body {
	font-family: "Montserrat", sans-serif;
	background-color: #fff;
	// width: 100%;
}
#container{
	width: 100%;
	padding: 5px;
	max-width: 500px;
}

//header
header {
	position: relative;
	@include center.centering;
	height: 150px;
	background-color: white;
	font-family: "Metropolis-BoldItalic", sans-serif;
	font-size: 15px;
	.header_box {
		@include center.centering;
		flex-direction: column;
	}
	.header_top {
		width: 100%;
		border-bottom: color.$border;
		height: 55px;
	}
	.header_logo {
		@include center.centering;

		img {
			width: 175px;
			height: 50px;
		}
	}
}
main {
	height: 90%;
	width: 100%;
	background-color: white;
	margin-bottom: 30%;

	.slider_mobileTop {
		@include center.centering;
		flex-direction: column;

		img {
			height: 250px;
			width: 100%;
			padding: 15px;
		}
		
		.producer_brandLogo{
			@include center.centering;
			flex-direction: row;
			
			img{
				background: #fff;
				height: 125px;
				width: 95%;
			}
			.producer_bannerField{
				background-color: #2780bc;
				height: 125px;
				width: 5%;
			}
		}
	}
	
	.main_section_products{
		@include center.centering;
		background-color: #fff;
		width: 100%;
		height: 10%;
		.main_section_products_label{
			flex-direction: column;
			height: 1000px;

			.main_section_products_label_smartLighting{
				text-transform: uppercase;
				padding: 30px;
			}

			.main_section_products_labelUnderline{
				margin-left: 39%;
				width: 20%;
				border-bottom: 3px solid red;
			}
			.lightBulb_container{
				.main_section_productSlider{
					@include center.centering;
					max-width:	300px;

					.productSliderContainer{
						@include center.centering;
						padding: 30px 15px 0 15px;
						overflow: auto;

						.bulb1{
							padding-left: 60px;
						}
					}
					
				}
			}
		}
	}
}

// hamburger-menu
.menu_hamburgerList {
	position: fixed;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	opacity: 0;
	top: 0;
	left: -400px;
	width: 90%;
	height: 93%;
	background-color: #fff;
	transition: 0.4s;

	.menu_category {
		@include center.centering;
		width: 100%;
		height: 9%;
		text-transform: uppercase;
		font-weight: bold;
		border-bottom: color.$border;
	}
	ul {
		margin-bottom: 145px;
		margin-left: 20px;
		width: 93%;
	}

	li {
		width: 100%;
		display: flex;
		border-bottom: color.$border;
		padding: 15px;
	}

	.menu-products {
		@include center.centering;

		li {
			height: 100%;
			padding-left: 12px;
			// margin-left: 10rem;
		}
		span {
			height: 100%;
			margin-left: 150px;
			// padding: auto 100px;
			@include center.centering;
			border-left: color.$border;
			overflow: hidden;

			// i{
			//     padding-bottom: 5px;
			// }
		}
	}

	.menu-producers {
		@include center.centering;

		li {
			padding-right: 80px;
			margin-left: 38px;
		}
		span {
			margin-left: 100px;
			// @include center.centering;
			border-left: color.$border;
		}
	}

	.inspiration {
		border: 0;
	}
}
//menu_mobileBar
.menu_mobileBar {
	background-color: #333;
	margin: -5px;
	.menu_mobileBottom {
		position: fixed;
		@include center.centering;
		align-content: flex-start;
		bottom: -1px;
		width: 100%;
		background-color: white;
		font-size: 20px;
		border: color.$border;
	}
	.menu_mobileBox {
		@include center.centering;
		width: 20%;
		height: 50px;
		border-right: color.$border;
	}

	.shopping_cart {
		border: 0;
	}
}


//animacja
.animation-switch {
	opacity: 1;
	transform: translateX(400px);
}
